.buttons-wrapper {
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.button {
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    max-width: 120px;
    min-width: 100px;
}
.secondary {
    border: 2px solid #000;
}
.default {
    background: #000;
    color: #fff;
}