.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-wrapper {
    padding: 10px;
    margin-top: -100px;
    background: #fff;
    border-radius: 10px;
    height: 200px;
    width: 80%;
    position: relative;
}