* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    position: relative;
    max-width: 600px;
    max-height: 1000px;
    width: 100vw;
    height: 100vh;
    background: url('../img/bg.jpg');
}
.container {
    margin-top: 5px;
    background: #fff;
    margin: 5px 2px 0px;
    border-radius: 7px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.add-new-debt {
    line-height: 50px;
    text-align: center;
    background: rgb(139 206 245);
    margin-top: 5px;
    width: 250px;
    margin: 5px auto 0px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
}
#total-debt {
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    color: #fff;
    padding: 0 20px;
    font-size: 22px;
}
.header {
    width: 100%;
    line-height: 20px;
    text-align: center;
    /* border-bottom: 2px dashed #999; */
    font-size: 14px;
    background: #000;
    color: #fff;
}
#nickname {
    font-size: 15px;
    color: rgb(104, 203, 241);
    text-shadow: 0 0 1px #000;
}
.credit-alpha {
    padding: 5px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
}
.alpha-list {
    /* padding-top: 10px; */
    font-size: 14px;
    background: #e0e0e0;
    color: rgba(0, 0, 0, 0.8);
    height: 0;
    overflow: hidden;
    border-radius: 0 0 7px 7px;
}
.alpha-list.active {
    height: 100%;
}
.alpha-list p {
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
}
.alpha-list p:first-child {
    margin-top: 10px;
}
.enter-new-sum {
    line-height: 35px;
    background: rgb(53 126 53);
    text-align: center;
    width: 160px;
    margin: 10px auto 10px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 0.5px 4px rgba(0, 0, 0, 0.7);
}
.input-new-sum {
    width: 83%;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 22px;
    font-size: 17px;
    border-radius: 5px;
    border: 2px solid #000;
}
.confirm-delete {
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
}

.input-bank {
    text-align: center;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 30px;
    width: 258px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #333;
    color: #333;
}

.input-debt {
    text-align: center;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 30px;
    width: 258px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #333;
    color: #333;
}
